<br />
<div style="clear: both"></div>
<div class="row">

	<div class="col-lg-6" id="results">
	<h3>Search...</h3>
		<div class="input-group">
		  <input data-bind="value: searchQuery" class="form-control" style="height: 36px;" required>
		  <span class="input-group-btn">
		    <button data-bind="click: executeSearch" class="btn btn-default" type="button">Search!</button>
		  </span>
		</div><!-- /input-group -->
	</div><!-- /.col-lg-6 -->

	<div class="col-lg-6">
	    <div id="load-results">
	    	<br /><br />
	    	<center><h4 data-bind="if: resultSet().length == 0">No Results!</h4></center>
	    	
	    	<div data-bind="foreach: resultSet">
	    		<div class="col-lg-2">
	    			<img data-bind="attr: {src: pictureUrl}" />
	    		</div>
	    		<div class="col-lg-8">
					<h3 style="margin-top: 0px; padding-top: 0px;"><span data-bind="text: firstName"></span>&nbsp;<span data-bind="text: lastName"></h3>
					<p>
						<span data-bind="text: industry"></span><br />
						<span data-bind="text: location"></span>
					</p>
	    		</div>
	    		
	    		<div class="clearfix"></div>
	    		<hr />
	    	</div>
	    	
	    </div>
	</div>



</div>