﻿<section>

    <h3>Welcome to FSU's MBA Database</h3>
    <a target="_parent" href="http://localhost:3000/auth/linkedin"><img src="https://d8xxt19alp9w5.cloudfront.net/assets/images/login/buttonLinkedInRet.png" width="200" height="75" /></a><br />

</section>

<!--
<h2 data-bind="html:displayName"></h2>
<blockquote data-bind="html:description"></blockquote>

<ul data-bind="foreach: features">
    <li data-bind="html: $data"></li>
</ul>
-->