﻿<div>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <a class="brand" data-bind="attr: { href: router.navigationModel()[0].hash }">
                <i class="icon-home"></i>
                <span>FSU MBA Student Directory</span>
            </a>
            <ul class="nav" data-bind="foreach: router.navigationModel">
                <li data-bind="css: { active: isActive }">
                    <a data-bind="attr: { href: hash }, html: title"></a>
                </li>
            </ul>
            <div class="loader pull-right" data-bind="css: { active: router.isNavigating }">
                
            </div>
            <form class="navbar-search pull-right" data-bind="submit:search">
                <input type="text" class="search-query" placeholder="Search">
            </form>
        </div>
    </div>
    
    <div class="container-fluid page-host" data-bind="router: { transition:'entrance', cacheViews:true }"></div>
</div>